@import "../../assets/scss/vars";

.addSeg {
  display: flex;
  align-items: center;
  color: $color-yellow;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  svg {
    margin-right: 12px;
  }
}