@import "assets/scss/_part.scss";
@import "assets/scss/fonts.scss";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

main {
    min-height: 100vh;
}