@import "assets/scss/_part.scss";
@import "assets/scss/fonts.scss";
@import "assets/scss/vars.scss";

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.86px;
    background: $color-main-background;
    color: $color-white;
    padding:  0 32px;
    position: relative;
}

.main-container {
    display: flex;
}

.wrapper {
    width: calc(100% - 293px);
    margin-left: 20px;
}

main {
    min-height: 100vh;
    margin-left: 313px;
}