@import "../../assets/scss/vars";

.react-select-container {
  background: $color-blue;
  border-radius: 4px;
}
.react-select__control {
  border: $input-border !important;
  display: flex;
  align-items: center;
  background: $color-input-gradient !important;
  &--menu-is-open {
    box-shadow: none !important;
  }
}

.react-select__indicator-separator {
  display: none;
}
.react-select__value-container {
  padding: 12px 20px !important;
}
.react-select__input-container {
  padding: 0 !important;
  margin: 0 !important;
}

.react-select__single-value {
color: $color-white !important;
}

.react-select__placeholder {
  font-size: 16px;
  color: $color-text-grey !important;
}

.react-select__menu {
  background: $color-input-gradient !important;
}